html{
   background:-moz-linear-gradient(top,#85A2B2,#E8F8FC);
}

body{
    margin:0 auto;
}

#wrap{
    width:960px;
    margin:0 auto;
    padding:0 6px;
    background: -moz-linear-gradient(left center , rgba(21, 36, 39, 0), rgba(21, 36, 39, 0.2) 5px, rgba(255, 255, 255, 0) 5px) repeat scroll 0 0%, -moz-linear-gradient(right center , rgba(21, 36, 39, 0), rgba(21, 36, 39, 0.2) 5px, rgba(255, 255, 255, 0) 5px) repeat scroll 0 0 transparent;
}

#content{
    background-color:#ffffff;
    padding:0 0 25px 0;
}

#wrap:after{
    content: ""; 
    display: block; 
    clear: both
}

#wrap header#menu{
    margin:0 auto;
    height:69px;
    padding:15px 0 0 0;
}

#wrap header#menu a{
    color:#ffffff;
    text-decoration:none;
}

#wrap header#menu:before{
    content:"";
    position:absolute;
    display:block;
    top:0;
    left:0;
    height:10px;
    width:100%;
    background:-moz-linear-gradient(
	top,
	#152427,
	#152427 6px,
	rgba(0,0,0,0.22) 6px,
	rgba(0,0,0,0.14) 7px,
	rgba(0,0,0,0.07) 8px,
	rgba(0,0,0,0.02) 9px,
	transparent
	);
}

header#menu h1{
    width:700px;
    float:left;
    padding:0 0 0 15px;
}

nav{
    width:960px;
    height:37px;
    clear:both;
    margin:10px 0;
    border-top:solid 2px #90A9B9;
    background:-moz-linear-gradient(
	top,
	#152427,
	#1e383d
	);
}

nav ul{
    list-style:none;
    font-size:13px;
    margin:0 0 0 10px;
}

nav ul li{
    color:#ffffff;
    float:left;
    padding:5px 10px 4px 10px;
    margin:5px 0 0 5px;
    display:block;
    -moz-border-radius: 4px;
    background:-moz-linear-gradient(
	                top,
		#3E6A7A,
		#323D3A
	);
}

nav ul li:hover{
    background:-moz-linear-gradient(
	                top,
		#407389,
		#1e383d
	);
}

#plugin_banner{
    width:227px;
    height:45px;
    padding:0 5px 0 0;
    margin:0 0 10px 0;
    float:right;
    background:url("../img/plugin_normal.png") no-repeat;
}

#plugin_banner a{
    color:#ffffff;
    #display:none;
}

form{
    margin:3px 0 0 0;
    padding:0 12px 0 0;
    float:right;
}

#search{
    width:170px;
}

#topcontent{
    width:420px;
    margin:35px 0 0 0;
    padding:0 25px;
    float:left;
    #clear:both;
}

#topcontent h1{
    font-size:26px;
    margin:0 0 3px 0;
}

#topcontent_txt{
    width:435px;
    border-top:double 3px #000000;
    font-size:13px;
    padding:10px 0 0 0;
    margin:0 25px 0 0;
    float:left;
}

#topcontent_img{
    float:right;
    margin:35px 0 0 0;
}



#topcontent_img figure{
    width:210px;
    float:left;
    padding:0 20px 0 0;
    margin:0;
}

#topcontent_img figure img{
    border:solid 1px #C6E7FF;
}

#topcontent_img figcaption{
    font-size:11px;
    text-align:right;
}

#content01{
    width:930px;
}

#content01 figure{
    padding:0;
    margin:20px 22px 0 0;
    float:left;
}

#content01 figcaption{
    font-size:13px;
    margin:5px 0;
}

#content01 article{
    width:288px;
    font-size:12px;
}

#detail{
    width:960px;
    #text-align:right;
    font-size:12px;
    padding:20px 0px 0 0;
    position:relative;
    top:25px;
    left:-20px;
}

#content02{
    width:960px;
    margin:0px 0 0 0;
}

.elem{
    width:912px;
    clear:both;
    padding:0 25px;
}

.elem:after{
    content: ""; 
    display: block; 
    clear: both
}

.wrapcontent header{
    #margin:35px 0 0 0;
}

.wrapcontent:before{
    content: ""; 
    display: block; 
    clear: both
}

.wrapcontent h2{
    width:900px;
    margin:35px 0 0 10px;
    background-color:#DBE6EC;
    -moz-border-radius-topleft:10px;
    padding:5px 20px 5px 10px;
    font-size:13px;
}

.license{
    width:285px;
    float:left;
    margin:15px 25px 0 0;
    font-size:12px;
}

.morelicense{
    text-align:right;
    display:block;
    margin:40px 0 0 0;
}

#glicense{
    background-color:#DCE7DA;
}

.for{
    background-color:#E6EEF2;
    height:20px;
    font-size:11px;
    line-height:20px;
    padding:0 0 0 10px;
}

#gfor{
    background-color:#E7EFE6;
    height:20px;
    font-size:11px;
    line-height:20px;
    padding:0 0 0 10px;
}

p.cap{
    padding:10px;
    background:-moz-linear-gradient(top,#F3F7F6,#E6EEF2);
}

#gcap{
    padding:10px;
    background:-moz-linear-gradient(top,#F3F7F3,#E7EFE6);
}

p.price{
    background-color:#E6EEF2;
    border-top:solid 1px #ffffff;
    padding:5px 10px;
    min-height:43px;
    line-height:20px;
}

#gprice{
    background-color:#E7EFE6;
    border-top:solid 1px #ffffff;
    padding:5px 10px;
    min-height:33px;
}

.license h3{
    margin:0 0 1px 0;
    padding:4px 0 4px 10px;
    font-weight:bold;
    font-size:12px;
    background-color:#DBE6EC;
}

#content03{
    width:920px;
}

#content03 h3{
    font-size:13px;
}

#line{
    border-right:solid 1px #cccccc;
    margin-right:20px;
}

.information{
    width:430px;
    float:left;
    padding:0 10px 0 0;
    margin:10px 0 30px 0;
}

.information dl{
    width:450px;
    font-size:12px;
    margin:5px 0 10px 0;
}

.information dt{
    width:100px;
    float:left;
    margin:0 0px 0 0;
    padding:5px 10px 5px 5px;
}

.information dd{
    width:300px;
    float:left;
    margin:0 0 10px 0;
    padding:5px;
    line-height:20px;
}

.bgcolor{
    background-color:#F3F8FB;
}

#content04{
    width:915px;
}

.detailspic{
    float:left;
    margin:0;
    padding:0 10px 0 0;
}

#case{
    font-size:12px;
    margin:10px 0;
}

.details{
    width:450px;
    float:left;
    margin:0 10px 0 0;
}

.details h3{
    font-size:13px;
    margin:0 0 5px 0;
}

.details p{
    font-size:12px;
    width:440px;
    float:left;
}

#usage{
    width:290px;
    border:dotted 1px #cccccc;
    background-color:#F3F8FB;
    float:right;
}

#usage h4{
    font-size:12px;
    color:#000000;
    font-weight:bold;
    margin:0 0 5px 0;
    padding:10px 0 0 10px;
}

#usage ul{
    font-size:12px;
    list-style-type:disc;
    color:#ADC5D2;
    padding:0 10px 10px 30px;
}

#usage li{
    margin:0 0 5px 0;
}

#content05{
    margin:30px 0 0 0;
    padding-bottom:30px;
    border-bottom:solid 1px #cccccc;
}

.more{
    text-align:right;
    font-size:12px;
    padding:10px 0 0 0;
    clear:both;

}

#bottommenu{
    margin:15px 0 0 0;
    padding:0 5px 20px 5px;
    overflow:hidden;
}

#bottommenu:after{
    content: ""; 
    display: block; 
    clear: both
}

#bottommenu ul{
    width:960px;
    font-size:12px;
    list-style:none;
    padding:0 5px;
}

#bottommenu li{
    background-color:#DBE6EC;
    float:left;
    width:203px;
    padding:10px 15px 10px 15px;
    margin:0 0 0 1px;
    padding-bottom: 32768px;
    margin-bottom: -32768px;
}

#bottomnavi{
    width:100%;
    background:-moz-linear-gradient(top,#062C34,#132326);
    padding:0 0 25px 0;
}

#bottomcontent{
    width:960px;
    margin:0 auto;
    padding:15px 0 0 0;
}

#bottomcontent h1{
    width:955px;
    font-size:14px;
    color:#E0E4E6;
    margin:0 0 20px 0;
    border-bottom:solid 3px #284C54;
}

#bottomcontent ul{
    width:950px;
    color:#8FA9B5;
    list-style:none;
    font-size:12px;
    margin:25px 0 0 0;
}

#bottomcontent ul:after{
    content: ""; 
    display: block; 
    clear: both
}

#bottomcontent li{
    width:286px;
    float:left;
    font-size:11px;
    margin:0 25px 0 0;
}

#bottomcontent:after{
    content: ""; 
    display: block; 
    clear: both
}

footer{
    width:100%;
    background-color:#ffffff;
    padding:0 0 10px 0;
}

footer section{
    width:960px;
    margin:0 auto;
    padding:10px 0 0 0;
}

footer figure{
    margin:0 10px 0 0;
    padding:0;
    float:left;
}

footer figcaption{
    font-size:10px;
    padding:20px 0 0 0;
}

footer figcaption:after{
    content: ""; 
    display: block; 
    clear: both
}

footer p{
    text-align:right;
    font-size:10px;
}

#download{
    width:180px;
    background:-moz-linear-gradient(center top,#EDEDED,#C1C1C1);
    border:solid 1px #cccccc;
    font-size:14px;
    padding:5px 0 5px 35px;
    margin:25px auto 0 auto;
    display:block;
}